body {
    max-width: 90vmin;
}
#container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: 6%;
    gap: 2px;
}
.gridSquare {
    width: calc((90vmin - 16px - 32px) / 16);
    height: calc((90vmin - 16px - 32px) / 16);
    /*border: .5px solid black;*/
}
